.fb-post { 
    overflow-y:scroll;
    height: 400px;
}

.fb-post:hover { 
    opacity: 0.7;
}

.femstar-title { 
    margin: 0;
    padding: 0;
}



body{

    overflow-x:hidden
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: rgba(253, 234, 255, 0.007);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(124, 43, 83, 0.616);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(255, 242, 218);  /* creates padding around scroll thumb */
  }


  .fb-post::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  .fb-post::-webkit-scrollbar-track {
    background: rgba(253, 234, 255, 0.007);        /* color of the tracking area */
}
.fb-post::-webkit-scrollbar-thumb {
    background-color: rgba(124, 43, 83, 0.616);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(255, 242, 218);  /* creates padding around scroll thumb */
  }


