.bgimage {
  width:100%;
  height:600px;
  background-image: 
  linear-gradient(to bottom, rgba(10, 10, 10, 0.144) 50%, rgba(5, 5, 5, 0.137) 100%),

  url('../Assets/Group photo.jpg');
  /* url('../Assets/Jerusalem.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, rgba(100, 51, 51, 0.6) 86%, rgba(51, 51, 51, 0.8) 100%),
}

h1 { 
  font-size: 100px;
}
h1, h4 { 
  color: white;
  /* text-shadow: 2px 4px 4px #000000; */
}
.bgimage { 
/* box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);  */
}

.joinBtn { 
  background-color: #7C2B54;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  border: #7C2B54;
  /* box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);  */
  justify-content: center;
  padding: 10px;
  color: white; 
}
.btn:hover { 
  color: white
}


