.linkBtn {
  font-weight: lighter;
  background-color: none;
  color: #7c2b54;
  vertical-align: center;
  font-size: large;
}
.linkBtn:hover {
  color: #7c2b54;
}

.lead {
  margin-bottom: 0;
}
.yourEmail {
  width: 100px;
}
