
/* about */

.carousel { 
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 

}

.carousel-img { 
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0;
}

.carousel-item { 
  height: 400px;
}

.jumbotron-header { 
  height: 70px;
  background-color: white;
  margin-top: 0;
  padding: 0;
}

.jumbotron-about {
  background-color: white;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
  height: 400px;
}

.header { 
  font-size: 50px;
}

.container { 
  width: 900px;
}